.example-container {
  width: 100%;
  height: 100%;
  border-right: 10px solid white;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.list-item.is-active {
  background-color: #11111c;
  border-radius: 5px;
}

.side-heading {
  color: plum;
  font-size: 12px;
  padding: 18px 0px;
  margin-top: 15px;
}

.aligned-with-icon {
  position: absolute;
  margin-left: 10px;
  color: var(--white-font);
  
}
mat-icon {
  color: var(--white-font);
}

.example-sidenav-content {
  /* display: flex; */
  height: 100%;
  background-color: var(--background-color);
  /* align-items: center; */
  /* justify-content: center; */
}

.example-sidenav {
  padding: 20px;
  width: 260px;
  background-color: var(--background-color);
  color: var(--white-font);
  box-shadow: 6px 0 9px -5px rgba(128, 128, 128, 0.685);

}

.example-sidenav.menu-close{
  width: 72px;
  transition: width 0.3s ease-in-out;

}
.example-sidenav.menu-open{
  width: 260px;
  transition: width 0.3s ease-in-out;

}

/* .sidenav-collapsed {
  width: 72px;
  transition: width 0.3s ease-in-out;
}
.sidenav-expanded {
  width: 260px;
}
.sidenav-expanded,
.sidenav-collapsed {
  transition: width 0.3s ease-in-out;
} */


